
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
{% if file_links %}
	{% for field in form %}
		{% if file_links|get_item:field.html_name %}
		<p>{{ field.label_tag }} <a href = "{{ file_links|get_item:field.html_name }}"> {{ file_links|get_item:field.html_name }}</a> {{ field }}</p>
		{% else %}
		<p>{{ field.label_tag }} {{ field }}</p>
		{% endif%}
	{% endfor %}
{% else %}
	{% for field in form %}
	<p>{{ field.label_tag }} {{ field }}</p>
	{% endfor %}
{% endif%}

<input type=submit>
</form>



