{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
    {% if latest_question_list %}
    <ul>
    {% for t1vclass in latest_question_list %}
	<li><a href="{% url 'polls:detail' t1vclass.id %}">{{ t1vclass.class_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No T1V Objects are created</p>
{% endif %}
{% else %}
    <p>Welcome, new user. Please log in.</p>
{% endif %}
