<h1>{{ t1vclass.class_name }}</h1>

{% if all_objects %}
    <ul>
    {% for myClass in all_objects %}
	<li><a href="{% url 'polls:edit' t1vclass.id myClass.objectId %}">{{ myClass.objectId }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No {{ t1vclass.class_name }} are created</p>
{% endif %}

<!-- 
<ul>
{% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }} ~~ {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
{% endfor %}
</ul>
 -->
 

<a href="{% url 'polls:detail' t1vclass.id %}">Create More?</a>